@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@media (max-width:768px) {
    .logo img{
        width: 200px;
        height: auto;
        
    }
    .btn-escolha{
        flex-direction: column;
        gap: 20px;
    }
    .btn-escolha button{
        width: 50%;
        padding: 15px 40px;
        font-size: 1.1rem;
    }

}

*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
}

body{
    height: 100vh;
    background-color: black;
    background-image: url(imagens/BG\ 1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

main{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    text-align: center;
    
}
.logo-container{
    position: relative;
    display: inline-block;
}
.logo{
    width: 200px;
}
.glass-square{
    position: absolute;
    top: -27px;
    left: -27px;
    width: 63px;
    height: 63px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 1px;
    backdrop-filter: blur(6px);
    transform: rotate(70deg);
    box-shadow: 4px -1px 3px #00000096;
}

img{
    padding-bottom: 44px;
}

.btn-escolha{
    color: #F4F4F4;
    gap: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 10px;
    
}

.btn-escolha button{
    width: 169px;
    height: 42px;
    padding: 10px 27px;
    border-radius: 10px;    
    color: #F4F4F4;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    position: relative;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(6px);
    border: 5px solid rgba(255, 255, 255, 00.3s);
    box-shadow: 4px -1px 3px #00000096;
}

.btn-terror:hover{
    background-image: url(imagens/imagens-botoes/terror\ 1.png);
    
}
.btn-romance:hover{
    background-image: url(imagens/imagens-botoes/romance\ 1.png);
}
.btn-fantasia:hover{
    background-image: url(imagens/imagens-botoes/Fantasia\ 1.png);
}
.btn-comedia:hover{
    background-image: url(imagens/imagens-botoes/comédia\ 1.png)
}


